// variables - https://coolors.co/222222-f87060-e3a49b-cdd7d6
$eerie: #222222;
$bitter: #f87060;
$pastel: rgba(227, 164, 155, 0.5);
$light: #cdd7d6;
// widespread rules
* {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
}
html {
  background: $eerie;
  color: $light;
  text-align: center;
}
a {
  text-decoration: none;
}
// components
.header {
  display: flex;
  font-size: 3em;
  margin-top: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  justify-content: right;
  #headerButton {
    border: 1px solid $eerie;
    background: $pastel;
    font-size: 0.5em;
    color: $eerie;
    padding: 0rem 1rem;
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: 10px 10px 5px $pastel;
    }
  }
}
.splash {
  height: 60vh;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  h1 {
    margin-top: 10rem;
    font-size: 4em;
    font-weight: 900;
  }
  p {
    font-size: 1.7em;
    font-weight: lighter;
    margin-left: 20rem;
    margin-right: 20rem;
  }
}
.projects {
  font-weight: 900;
  .projectsContainer {
    display: flex;
    flex-direction: column;
  }
  .projectContainer {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    &:nth-child(2) {
      flex-direction: row-reverse;
    }
  }
  .projectIMG {
    height: 30rem;
    width: 30rem;

    transition: transform 100ms ease, box-shadow 100ms ease;
    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: 10px 10px 5px $pastel;
    }
  }
}
.skills {
  background: $eerie;
  margin: 2rem 0;
  padding-top: 1rem;
  padding-left: 3em;
  padding-right: 3em;
  font-weight: 900;
  .skillBoxContainer {
    color: $pastel;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    .skillBox {
      margin: 1.5em;
    }
  }
}
.contactMe {
  margin-left: 3em;
}
.contactBoxContainer {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contactBoxContainer a {
  margin-right: 2em;
  margin-bottom: 2em;
}
.contactBox {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: $pastel;
  color: $eerie;
  border: 1px solid $eerie;
  &:hover {
    transform: translate(-2px, -2px);
    box-shadow: 10px 10px 5px $pastel;
  }
}
