// variables
$cool_gray: #3c3744;
$off_white: #ebf5ee;
// widespread rules
* {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
}
html {
  background: $cool_gray;
  color: $off_white;
  text-align: center;
}
a {
  color: #ebf5ee;
  text-decoration: none;
}
.header {
  display: flex;
  font-size: 3em;
  margin-top: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  justify-content: right;
  #headerButton {
    background: #ebf5ee;
    font-size: 0.5em;
    color: #3c3744;
    padding: 0rem 1rem;
    &:hover {
      transform: translate(-4px, -4px);
      box-shadow: 10px 10px 0 0 #222;
    }
  }
}
.splash {
  background: #222;
  height: 60vh;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem;
  h1 {
    margin-top: 10rem;
    font-size: 4em;
    font-weight: 900;
  }
  p {
    font-size: 1.7em;
    font-weight: lighter;
    margin-left: 20rem;
    margin-right: 20rem;
  }
}
.projects {
  font-weight: 900;
  .projectsContainer {
    display: flex;
    flex-direction: column;
  }
  .projectContainer {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    &:nth-child(2) {
      flex-direction: row-reverse;
    }
  }
  .projectIMG {
    height: 30rem;
    width: 30rem;
    border: 5px solid #000;
    transition: transform 100ms ease, box-shadow 100ms ease;
    &:hover {
      transform: translate(-4px, -4px);
      box-shadow: 10px 10px 0 0 #222;
    }
  }
}
.skills {
  background: #222;
  margin: 2rem 0;
  padding-top: 1rem;
  padding-left: 3em;
  padding-right: 3em;
  font-weight: 900;
  .skillBoxContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    .skillBox {
      margin: 1.5em;
    }
  }
}

.contactMe {
  margin-left: 3em;
}
.contactBoxContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.contactBoxContainer a {
  margin-right: 2em;
  margin-bottom: 2em;
}
.contactBox {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #000;
  color: #ebf5ee;
  border: 1px solid #000;
}
.contactBox:hover {
  background: #ebf5ee;
  color: #000;
  border: 1px solid #000;
}
